@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  font-family: 'MedievalSharp', cursive;
}

.cinzel {
  font-family: 'Cinzel Decorative', serif;
}

.medieval {
  font-family: 'MedievalSharp', cursive;
}
